<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>286542520198-0jniu87sjp9i2ajs35hpt34gsq6p153i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.286542520198-0jniu87sjp9i2ajs35hpt34gsq6p153i</string>
	<key>API_KEY</key>
	<string>AIzaSyBrCeI4slSKE_fOknmSPYF6Oo0cdtLJoxU</string>
	<key>GCM_SENDER_ID</key>
	<string>286542520198</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tomaszczyzak.LinphoneCrash</string>
	<key>PROJECT_ID</key>
	<string>linphonecrash</string>
	<key>STORAGE_BUCKET</key>
	<string>linphonecrash.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:286542520198:ios:5dbab36b84c8556bc45607</string>
</dict>
</plist>